 <div id="new-child">
	<div class="surnames-search">
	  <%= form_tag add_child_path, remote: true do %>  
	    <div class="field">
	      <%= label_tag 'Last name' %><br>
	      <%= hidden_field_tag 'uuid', union.uid %>
		  <%= text_field_tag 'surnames-search-txt', @surname, autofocus: !@surname, size: 10 %>
		</div>
	    <div class="results" id="surnames-search-results"></div>
		
	  <% end %>
    </div>
	<% if @surname %>
	  <div id="surnames-search-div">
		  <div class="surnames-search">
		    <%= form_tag save_child_path do %>
	          <div class="field">
	            <%= label_tag 'Full name' %><br>	
			    <%= hidden_field_tag 'names-search-uid', 'default' %>	
			    <%= hidden_field_tag 'uuid', union.uid %>
			    <%= hidden_field_tag 'uid', individual.uid %>			    
			    <%= text_field_tag 'names-search-txt', '', autofocus: true, size: 15 %>
			  </div>
		      <div class="results" style="float:left" id="names-search-results"></div>    
		      
        		
		    <% end %>
		  </div>
	  </div>  	
	<% end %>
	<div class="divider"></div>	   
	<%= submit_tag 'add' %>
	<%= link_to 'cancel', tree_path( individual.uid ) %>	  
	    
</div>

<script>
  var surname = "<%= @surname %>";
  $(function() {
    new app.Surnames;
  });
  $(function() {
    new app.Names;
  });  
</script>
