<div class="panel panel-danger">
  <div class="panel-heading">
     <b>Add existing person as child of </b><%= individual.pretty_name(is_user?) %> 
	    <%= ( "<b>and </b>".html_safe + 
		         union.spouse( individual.uid ).pretty_name(is_user?) ) if 
		                 union.spouse( individual.uid ) %>
  </div>
  <div class="panel-body">
    <%= form_tag save_added_child_path do %>
      <%= render partial: "search" %>
    
	<br>
	<%= submit_tag 'add', class: "btn btn-default" %>
    <%= link_to 'cancel', tree_path( individual.uid ) %>	
   <% end %>	
   </div>
</div>
