
<% #
   #   this allows editing of @editable == true, else only viewing 
   #
%>
	  
<div class="panel <%= ( @editable ? 'panel-danger' : 'panel-info' ) %> ">
  <div class="panel-heading">

	<b><%= @editable ? 'Editing' : 'Details for' %></b> <%= individual.pretty_name( is_user? ) %> 
  </div>
  <div class="panel-body">
	
	<%= form_tag save_path( individual.uid ) do %>
    
	  <div class="row">
        <div class="col-xs-4">
          <%= label_tag :given,"Given" %>
          <%= text_field_tag :given, individual.given,
                             class: "form-control input-sm", autofocus: true %>
        </div>
        <div class="col-xs-6">
          <%= label_tag :surname, "Surname" %>
          <%= text_field_tag :surname, individual.surname,
                             class: "form-control input-sm" %>
        </div>
      </div>	
	  <div class="row">
        <div class="col-xs-2">
          <%= label_tag :prefix,"Prefix" %>
          <%= text_field_tag :prefix, individual.prefix, class: "form-control input-sm" %>
        </div>
        <div class="col-xs-2">
          <%= label_tag :prefix,"Nickname" %>
          <%= text_field_tag :nickname, individual.nickname, class: "form-control input-sm" %>
        </div>
        <div class="col-xs-2">
          <%= label_tag :prefix,"Suffix" %>
          <%= text_field_tag :suffix, individual.suffix, class: "form-control input-sm" %>
        </div>
        <div class="col-xs-2">
          <%= label_tag :sex,"M/F" %>
          <%= text_field_tag :sex, individual.sex, class: "form-control input-sm" %>
        </div>	
        <div class="col-xs-2">
          <%= label_tag :pedigree,"Pedigree" %>
          <%= text_field_tag :pedigree, individual.pedigree, class: "form-control input-sm" %>
        </div>			
      </div>
	  <br>
      <%= render partial: "event_edit", 
		         locals: { eventname: "Birth", event: individual.birth, autofocus: false } %>
      <%= render partial: "event_edit", 
		         locals: { eventname: "Death", event: individual.death, autofocus: false } %>				 
	  <br>
	  
	  <div class="row">
	    <div class="col-xs-12">
		  <%= label_tag :note, "Notes" %>
          <%= text_area_tag :note,  individual.note, cols: 32, class: "form-control" %>
        </div>	  
	  </div>
	  <br>
	  
	  <div class="row">
	    <div class="col-xs-12">
		  <%= label_tag :sources, "Sources" %><br>
	      <% @sources.each do |source| %>
		    <%= link_to( delete_symbol, source_delete_path( source.id, individual.uid ),
					             class: 'editlink',
		                         data: { confirm: 'Are you sure?' } ) if @editable %>		  
	        <%= link_to( source.title, source_content_path( source.id ), :target => '_blank' ) %>  
	        <br>
	      <% end %>
        </div>		
	  </div>
	  
      <%= render partial: "search_sources" if @editable%>	  
	  <br>
	  
	  <% #
	     #   submit_tag is turned off for @editable == false,	  
	     #   so no risk of saving anything
	  %>
	  <div class="actions">
	    <small> Last edit by <%= individual.user.username if individual.user %> 
		   at <%= individual.updated_at.strftime("%H:%M on %-d %b %Y") if individual.updated_at %> 
	       &nbsp; &nbsp; &nbsp;</small><br>
	    <%= submit_tag 'save', class: "btn btn-default" if @editable %>
	    <%= link_to 'cancel', tree_path( individual.uid ) %>
	  </div>
	  
	<% end %> 
  </div> 
</div>
