
<div style="font-size: <%= font_level(@font,level) %>px;">
  <% if @individual == individual %>
    <div class="currentindividualcontainer <%= gender( individual )%>" 
	     style="max-width: <%= 220-20*@level %>px; ">
      <%= sex_symbol( individual.sex ) %>
	  <%= link_to( individual.pretty_name(is_user?),
	               detail_path( individual.uid ), remote: true ) if individual %>      
      <% if is_editor? %>
        <%= link_to( '<small><i>edit</i></small>'.html_safe, 
	          edit_path( individual.uid ), 
		      remote: true, class: "individualeditlink" ) if individual %>
      <% end %>
      <% if is_admin? %>
        <%= link_to( '<small><i>details</i></small>'.html_safe, 
                   individual_by_uid_path( individual.uid ) ) if individual %>
      <% end %>                   			      
      <%= "<br>*".html_safe if individual and individual.birth %>
      <%= individual.birth.date if individual.birth %><% individual.birth.location if individual.birth %><%= "<br>&#10013;".html_safe if individual.death %>
      <%= individual.death.date if individual.death %><% individual.death.location if individual.death %>	 		           
    </div>
  <% else %>
    <div class="individualcontainer <%= gender( individual )%>" 
	     style="max-width: <%= 180-20*@level %>px; height: <%= 36-2*@level %>px;">
      <%= sex_symbol( individual.sex ) %> 
	  <%= link_to( individual.pretty_name(is_user?),
	               tree_path( individual.uid ) ) if individual %>
      <% if true %>	               
        <%= "<br>*".html_safe if individual and individual.birth %>
        <%= individual.birth.date if individual.birth %><% individual.birth.location if individual.birth %><%= "<br>&#10013;".html_safe if individual.death %>
        <%= individual.death.date if individual.death %><% individual.death.location if individual.death %>	 	                     
        <% if is_editor? and @individual.is_my_child?( individual ) %>
          <%= link_to delete_symbol, 
	          remove_child_path( individual.uid, @individual.uid ), 
		           class: 'editlink',
		           data: { confirm: 'Are you sure?' } %>
        <% end %>  
      <% end %>   
    </div>  
  <% end %>
</div>
	           
         