
<% if individual %>
    <table class="familyview" >	
	  <tr align=right>
	    <td width=50%></td>
	    <td>
	      <div <%= 'id="individualview"'.html_safe if @individual == individual %> >		    
            <%= render partial: 'individual', locals: { individual: individual, font: font } %> 
          </div>
	    </td>  
	  </tr>
	  <% if @individual == individual and is_editor? %>
	    <tr>
	      <td colspan=2 align=right>
	        <div id="new-marriage-container" >
              <%= link_to 'add marriage', new_marriage_path( @individual.uid ), remote: true %>
	        </div>
	      </td> 
	    </tr>
	  <% end %>	  
	  <tr >
	    <td align=right colspan=2>
		       
	        <% individual.unions.each do |union| %>
	          <table >
	            <tr>
	              <td></td>
	              <td style="width:<%=font*7%>px">
	              </td>
	            </tr>	          
	            <tr >
	              <td colspan=2 align=right 
	                 style="font-size: <%=font%>px;padding-right:<%=font*2%>px">  
		            <%= marriage_symbol %>   
		            <% if is_editor? %>
		              <%= link_to '<small>X</small>'.html_safe, 
		                delete_marriage_path( individual.uid, union.uid ), class: 'xdelete',
		                data: { confirm: 'Are you sure?' } %>				            
		            <% end %>
		            <%= union.marriage.date if union.marriage %>            
		            <%= '<br>'.html_safe if union.marriage %> 		               		                       
		            <%= link_to( union.spouse(individual.uid).pretty_name(is_user?), 
		               tree_path( union.spouse(individual.uid).uid ) ) if union.spouse(individual.uid) %>
                 
	              </td>             
	            </tr>
	            <% if is_editor? and @individual == individual  %>
	              <tr>
	                <td align=right>
	                  <div id="new-child-container" >
                        <%= link_to 'add existing /', add_child_path( individual.uid, union.uid ), 
                               remote: true %><%= link_to 'new child', 
                                       new_child_path( individual.uid, union.uid ), remote: true %>                        
	                  </div>
	                </td> 
	              </tr>
	            <% end %>	            
	            <% union.children.each do |child| %>
	              <tr >
	                <td align=right class="childrenview" style="font-size: <%=font%>px;">  	                
	                  <% if font > @minfont %>
	                    <%= render partial: "individual_and_children", 
	                      locals: { individual: child, font: font - 2 } %>
	                  <% else %>         

	                    <%= sex_symbol( child.sex ) %>  
		                <%= link_to( child.pretty_name(is_user?), 
		                    tree_path( child.uid ) ) %> 
		              <% end %>                        
	                </td>
	                <td rowspan=1000 class='childrenline'>                
	                </td>	                
	              </tr>           
	            <% end %>

	          </table>
	        <% end %>
	       
	  
	    </td> 
	  </tr>

	</table>    
<% else %>

  <h1>You broke it! Not good.</h1>
  <img src="/Bg_404Image.png" alt="" /> 

<% end %>