
	

<%= render partial: 'individual', 
           locals: { individual: individual, spacers: spacers, level: level } %> 

<div class="geni-clear"></div>

<% individual.unions.each do |union| %>

  <% spacers << { width: :union, 
                  directive: ( ( individual.unions.last.uid == union.uid ) ? '>' : '*' ) } %>
      
  <div class="geni-row">
    <%= render partial: 'spacers', locals: { spacers: spacers, height: :yspace } %>  
  </div>
  
  <div class="geni-clear"></div>
                      
  <div class="geni-row">
  
    <%= render partial: 'spacers', locals: { spacers: spacers, height: ( level == 1 ? :medium : :low ) } %> 
  
    <div class="geni-combo">
  
	    <div class="geni-box geni-both geni-union <%= geni_level( level, 'union' ) %>" >
	      <div class="geni-inner">
	
	        <% if @individual == individual  %>		
		      <%= link_to( delete_symbol, 
			                 remove_spouse_path( individual.uid, union.uid ), 
				             class: 'editlink',
			                 data: { confirm: 'Are you sure?' } ) if is_editor? %>												                	               
	        <% end %>        						
		    <%= marriage_symbol %>
		    <% if @individual == individual  %>		
		      <%= link_to(  (( union.marriage and union.marriage.date) ? 
		                       union.marriage.date : 'date n/a'), 
		                       union_edit_path( union.uid, individual.uid ), 
		                       class: "editlink", remote: true )  %>											                	               
		    <% else %>
	          <%= union.marriage ? union.marriage.date : 'date n/a'  %>
	        <% end %>
	      
	      </div>	
	    </div>
    </div>
    
  </div>
    
  <div class="geni-clear"></div>
             
  <% spacers << { width: :spouse, directive: '' } %>
  <% spacers << { width: :child, directive: '|' } %>
  
  <div class="geni-row">
    <%= render partial: 'spacers', locals: { spacers: spacers, height: :yspace } %>  
  </div>
  
  <% spacers.pop %>
  
  <div class="geni-clear"></div>
                             
  <% if union.spouse(individual.uid)  %>  
    <%= render partial: "individual", 
                   locals: { individual: union.spouse(individual.uid), 
                             union: union, 
                             spacers: spacers, level: level+1 } %>
  <% elsif @individual == individual and is_editor? %>                   							
			<%= link_to 'add', 
			            add_spouse_path( individual.uid, union.uid ), 
                        class: 'editlink', remote: true %><%= link_to ' spouse', 
                        new_spouse_path( individual.uid, union.uid ), 
				        class: 'editlink', remote: true %>    
  <% else %>
      <%= render partial: "individual", 
                   locals: { individual: nil, 
                             union: nil, 
                             spacers: spacers, level: level+1 } %>
  <% end %>     
      
  <div class="geni-clear"></div>
  	
  <% union.children.each do |child| %>                
	<% if level < @maxlevel %>
	
	  <% spacers << { width: :child, 
	                  directive: ( ( union.children.last.uid == child.uid ) ? '>' : '*' ) } %> 
	  
      <div class="geni-row">
        <%= render partial: 'spacers', locals: { spacers: spacers, height: :yspace } %>  
      </div>
  
      <div class="geni-clear"></div>
      	  
	  <div>  

        <%= render partial: "individual_and_children", 
                   locals: { individual: child, spacers: spacers, 
                             level: level+2 } %>
      </div>

      
    <% else %>   
   
	  <% spacers << { width: :child, 
	                  directive: ( ( union.children.last.uid == child.uid ) ? '>' : '*' ) } %> 
      
      <div class="geni-row">
        <%= render partial: 'spacers', locals: { spacers: spacers, height: :yspace } %>  
      </div>
  
      <div class="geni-clear"></div>
  
      <%= render partial: 'individual', 
               locals: { individual: child, spacers: spacers, 
                         level: level+2 } %>

    <% end %>                        

	<div style="clear:both"></div>     
    
    <% spacers.pop %>
    
  <% end %>       	  
  

    
  <div style="clear:both"></div>			  
  
  <% spacers.pop %>
  <% spacers.pop %>
  
<% end %> 
         
<div style="clear:both"></div>		

  

  