
<div class="panel panel-danger">
  <div class="panel-heading">
	<b>Add marriage for </b><%= individual.pretty_name(is_user?) %> <b>with existing 
	      (<%= link_to 'new', marriage_new_path( individual.uid ), class: 'editlink', remote: true %>)
				                                      person</b>
  </div>
  <div class="panel-body">

  <%= form_tag save_marriage_existing_path do %>
    <%= render partial: "search" %>
	<br>

    <%= render partial: "event_edit", 
	        locals: { eventname: "Marriage", event: Event.new, autofocus: true } %>	
	<br>
	<%= submit_tag 'save', class: "btn btn-default" %>
    <%= link_to 'cancel', clear_path, remote:true %>
   <% end %>	
   </div>
</div>

	
	    
</div>