<div id="new-marriage">
	<div class="surnames-search">
	  <%= form_tag new_marriage_path, remote: true do %>  
	    <div class="field">
	      <%= label_tag 'Last name' %><br>
	      <%= hidden_field_tag 'uid', @individual.uid %>
		  <%= text_field_tag 'surnames-search-txt', @surname, autofocus: !@surname, size: 10 %>
		</div>
	    <div class="results" id="surnames-search-results"></div>
		
	  <% end %>
    </div>
	<% if @surname %>
	  <div id="surnames-search-div">
		  <div class="surnames-search">
		    <%= form_tag save_marriage_path do %>
	          <div class="field">
	            <%= label_tag 'Full name' %><br>	
			    <%= hidden_field_tag 'names-search-uid', 'default' %>	
			    <%= hidden_field_tag 'uid', @individual.uid %>			                	      
			    <%= text_field_tag 'names-search-txt', '', autofocus: true, size: 15 %>
			  </div>
		      <div class="results" style="float:left" id="names-search-results"></div>
	          <div class="divider"></div>
	          <%= event_field 'Marriage', Event.new %>	
	          <div class="divider"></div>	          
	          <%= submit_tag 'save' %>
	          <%= link_to 'cancel', tree_path( @individual.uid ) %>	          		
		    <% end %>
		  </div>
	  </div>  
	
	<% end %>
	
	    
</div>

<script>
  var surname = "<%= @surname %>";
  $(function() {
    new app.Surnames;
  });
  $(function() {
    new app.Names;
  });  
</script>
