<h1>Listing first names for <%= @surname %> individuals</h1>

<% @individuals.each_with_index do |individual, index| %>
  
  <%= link_to individual.pretty_first_name( is_user?), 
      tree_path( individual.uid ) %>
  <%= '|' if index < @individuals.count-1 %> 
  
<% end %>

<br>
<br>
<br>
<strong> <%= link_to 'Home', root_path %> </strong> <br>

<%= render partial: "footer" %>

