
<h3> Upload a .ged file </h3>

<%= form_tag( file_upload_path,
             { :multipart => true} ) do %>    
	                                        
	Tree name  <%= text_field_tag "tree", "name", { "value" => @default_tree } %>    <br>                                   
	                                        <br>
	<%= file_field "stored_file", "stored_file" %> <br>  
	<br>
	<%= submit_tag("Upload", 
	    :onclick => "$('#upload_indicator').show(); ".html_safe ) %>                      
	    
	<h3> This will take time! </h3> 
	
	<%= image_tag("spinner.gif", :id => 'upload_indicator', :style => 'display:none') %>	     
	                            
	                              
<% end %>  



