
<table align=center>
  <tr><td>
  	<h1>Create New Person</h1>
	<br>
  </td></tr>  
  <tr><td>  
	<div id="new-child-container" >
		<div id="new-child">
		  <%= form_tag create_person_path do %>
		    <%= text_field :given, '', 10 %>    
		    <%= text_field :surname, '', 12 %>
		    <%= text_field :sex, '' %>     
					    
		    <div class="divider"></div>
		    <%= event_field 'Birth', Event.new %>	
		
		    <div class="divider"></div>	          
		    <%= submit_tag 'create' %>
		    <%= link_to 'cancel', root_path %>	          		
		  <% end %>	    
		</div>
	</div>
  </td></tr>
</table>

<div style="clear:both"></div>	 

<%= render partial: "footer" %>