<center id="main-search">
	<h1>Search</h1>
	<br>	
	
	<div class="surnames-search">
	  <%= form_tag search_path do %>  
	  
	    <%= label_tag 'Last name' %>
		<%= text_field_tag 'surnames-search-txt', @surname, autofocus: !@surname %>
	    <div class="results" id="surnames-search-results"></div>
		
	  <% end %>
	</div>
	<br>
	<% if @surname %>
	  <div id="surnames-search-div">
		  <div class="surnames-search">
		    <%= form_tag search_results_path do %>
	          <%= label_tag 'First name for ' + @surname %>		      
			  <%= text_field_tag 'names-search-txt', '', autofocus: true %>
			  <%= hidden_field_tag 'names-search-uid', 'default' %>
		      <div class="results" id="names-search-results"></div>
			
		    <% end %>
		  </div>
	  </div>  
	
	<% end %>
	<br>
	<i>Press enter to search or to continue...</i>
</center>

<%= render partial: "footer" %>

<script>
  var surname = "<%= @surname %>";
  $(function() {
    new app.Surnames;
  });
  $(function() {
    new app.Names;
  });  
</script>

