
<h1>Search</h1>

<div class="books-search">
  <%= form_tag last_name_search_results_path do %>  
	<%= text_field_tag 'books-search-txt', '', autofocus: true %>

    <div class="results" id="books-search-results"></div>
	
  <% end %>
</div>

<% if @surname %>
  <h1><%= @surname %></h1>
  <div class="books-search">
    <%= form_tag last_name_search_results_path do %>  
	  <%= text_field_tag 'names-search-txt', '', autofocus: true %>

      <div class="names-results" id="names-search-results"></div>
	
    <% end %>
  </div>

<% end %>

<script>
  var surname = "<%= @surname %>";
  $(function() {
    new app.Books;
  });
  $(function() {
    new app.Names;
  });  
</script>

