


  <style>
    #mynetworkFA {
      height: 500px;
      width: 900px;
      border:1px solid lightgrey;
    }

  </style>
 
  <script language="JavaScript">


    function draw() {

      var optionsFA = {
		physics:{
			hierarchicalRepulsion: {
				centralGravity: 0.2,
				springLength: 100,
				springConstant: 0.01,
				nodeDistance: 120,
				damping: 0.1
			},
			maxVelocity: 50,
			minVelocity: 0.1,
			solver: 'hierarchicalRepulsion',	  
		},
        edges: {
          labelHighlightBold: false,
                    smooth: {
                        type: 'cubicBezier',  
						forceDirection: 'vertical',
                        roundness: 0.8 
                    }
        },
        interaction: {
          navigationButtons: true,
          keyboard: true,
          hover: true
        },
        layout: {
          hierarchical: {
			direction: 'DU',
            levelSeparation: 100,
		    blockShifting: false,
            edgeMinimization: false,
            parentCentralization: true
		  }
        },
        groups: {
          unions: {
            shape: 'icon',
            icon: {
              background: 'blue',
              face: 'FontAwesome',
              code: '\uf228',
              size: 25,
              color: '#777777'
            },
			font: {background: 'white'}
          },
          guys: {
            shape: 'icon',
            icon: {
              face: 'FontAwesome',
              code: '\uf007',
              size: 50,
              color: '#00bfff'
            },
			font: {
				background: 'white'
			},
			labelHighlightBold: false
          },
          gals: {
            shape: 'icon',
            icon: {
              face: 'FontAwesome',
              code: '\uf007',
              size: 50,
              color: '#ff1493'
            },
			font: {background: 'white'}
          }
        }
      };
 
      // create an array with nodes
      var nodes = [
	  <% @nodes.each do |node| %>
	    { id: '<%= node[:id] %>',
		  label: '<%= node[:label] %>',
		  group: '<%= node[:group] %>',
		  level: <%= node[:level] %>
		  },
	  <% end %> ];
 
      // create an array with edges
      var edges = [
	  <% @edges.each do |edge| %>
	    { from: '<%= edge[1] %>', to: '<%= edge[0] %>' },
      <% end %> ];
 
      // create a network
      var containerFA = document.getElementById('mynetworkFA');
      var dataFA = {
        nodes: nodes,
        edges: edges
      };
 

      var networkFA = new vis.Network(containerFA, dataFA, optionsFA);
 
      networkFA.on("click", function (params) {
        alert( JSON.stringify(params, null, 4) );
        if( params.nodes > 0 && params.nodes < 6 ) {
          window.open("http://menhardt.com","_self");
        }
      });

      //networkFA.on("hoverNode", function (params) {
      //  alert( JSON.stringify(params, null, 4) );
      //});

    }
  </script>

<% debug @nodes %>
<% debug @edges %>
<center>
<div id="mynetworkFA" ></div>
  <br>
  <%= render partial: "footer" %>
  <br>
</center>
<script>draw();</script>
 
