
<h3> Upload a .ged file </h3>

<%= form_tag( {:controller => 'import', :action => 'file_upload'},
             { :multipart => true} ) do %>    
                                        
Tree name  <%= text_field "tree", "name", { "value" => @default_tree } %>    <br>  <p>                                 
                                        
File <%= file_field "stored_file", "stored_file", { "value" => "stammbaum.ged" } %> <br>  <p>

<%= submit_tag("Upload", :onclick => "Element.show('upload_indicator')") %>                      
                             
&nbsp;

<%= image_tag("progress.gif", :id => 'upload_indicator', :style => 'display:none') %>
           
<h3> Ignored </h3>
<%= @ignored %>                    
<% end %>  



