<%= form_for(@source) do |f| %>
  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% @source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :sid %><br>
    <%= f.text_field :sid %>
  </div>
  <div class="field">
    <%= f.label :tree %><br>
    <%= f.text_field :tree %>
  </div>
  <div class="field">
    <%= f.label :gedfile %><br>
    <%= f.text_field :gedfile %>
  </div>
  <div class="field">
    <%= f.label :gedraw %><br>
    <%= f.text_area :gedraw %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
