<table width=100%>
  <tr valign='top'><td width=50%>
  
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Uid:</strong>
	  <%= @union.uid %>
	</p>
	
	<p>
	  <strong>Husband:</strong>
	  <%= @union.husband.name if @union.husband %>      	  
	</p>
	
	<p>
	  <strong>Wife:</strong>
	  <%= @union.wife.name if @union.wife %>
	</p>
	
	<p>
	  <strong>Marriage:</strong>
	  <%= @union.marriage ? link_to( @union.marriage.date, @union.marriage ) : 'n/a'%>
	</p>
	
	<p>
	  <strong>Divorce:</strong>
	  <%= @union.divorce_id %>
	</p>
	
	<p>
	  <strong>Tree:</strong>
	  <%= @union.tree %>
	</p>
	
	<p>
	  <strong>Gedfile:</strong>
	  <%= @union.gedfile %>
	</p>
	
	<p>
	  <strong>Note:</strong>
	  <div style="width:100%">
	    <%= simple_format( @union.note ) %> 
	  </div>
	</p>
  </td><td>
	  <pre>
	  <%= @union.gedraw %>
	  </pre>
  </td></tr>
<table>

<%= link_to 'Edit', edit_union_path(@union) %> |
<%= link_to 'Back', unions_path %>

